<%= image_tag(@photo.image, :width => "50%", :height => "50%") %>
<p><%= @photo.caption %></p>
<div>
	<% @photo.hashtags.each do |hashtag| %>
		<%= link_to hashtag.text, hashtag_path(hashtag) %><br>
	<% end %>
</div><br><br>

<%= link_to 'Back', photos_path %>
<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Destroy', photo_path(@photo),
      			method: :delete, 
      			data: {confirm: 'Are you sure?'} %>