<%= image_tag(@photo.image, :width => "50%", :height => "50%") %>
<p><%= @photo.caption %></p>

<table style="width: 250px; line-height:20px;">
	<tr>

		<td><%= link_to 'Edit', edit_photo_path(@photo) %></td>
		<td><%= button_to 'Delete', photo_path(@photo), 
		method: :delete, 
		data: {confirm: 'Do you really want to remove this awesome picture?'}%></td>
		<td><%= link_to 'Back', photos_path %></td>
	</tr>
</table>